h1 {
    color: yellowgreen;
    text-align: center;
}

header {
    border: 2px solid red;
    padding-bottom: 8px;
    margin: auto;
    width: 1200px;
}

img {
    margin: auto;
    display: block;
    background-color: aquamarine;
    width: 550px;
}

.top h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 63px;
    text-align: center;
    color: rgba(226, 18, 18, 0.855);
    margin: auto;
}

.container {
    margin: auto;
    width: 1200px;
}

.box {
    border: 3px solid blueviolet;
    background-color: goldenrod;
    margin-top: 8px;
    margin-left: 121px;
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
}

.box h2 {
    text-align: center;
}

.box h2:hover {
    color: blue;
}
